@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import url("../fonts/fontello/css/web-theme.css");
@import url("../fonts/fontello/css/animation.css");

*{ padding: $nil-size; margin: $nil-size; border: $nil-size; box-sizing: border-box; }
*:before, *:after{box-sizing:border-box;position:relative;}
html{ @include setfont($normal-font, normal, "Circular"); box-sizing: border-box; background-color: $bg-white; }
body{ color:lighten($color-grey, 10%); }
p{line-height:1.3;}
.light{ @include setfont($normal-font, normal, "Circular Light"); }
.bold{ @include setfont($normal-font, bold, "Circular"); }
.semi-bold{ @include setfont($normal-font, normal, "Circular Medium"); }
.italic {font-style: italic;}
.big-font{ font-size:$xx-big-font; }
.big-font-alt {font-size:$xx-big-font;}

.cc{font-family:"Hiragino", arial !important;}

section.grey{@include background_with_icon(darken($bg-white, 5%));}
section.red{@include background_with_icon($bg-red);color:$color-white;}
section.white{@include background_with_icon($bg-white);}
section.blue{@include background_with_icon($bg-blue);color:$color-white;}
section.orange{@include background_with_icon($bg-orange);color:$color-white;}

hr{background-color:darken($color-white, 10%);width:80%;height:1px;margin:10px 0px;}
hr.wide{width:100%;}
hr.centered{margin:10px auto;}

.break-2{content:"&nbsp;";padding:2px;}
.break-5{content:"&nbsp;";padding:5px;}
.break-10{content:"&nbsp;";padding:10px;}
.break-20{content:"&nbsp;";padding:20px;}
.break-40{content:"&nbsp;";padding:40px;}

/* Grid Definitions */
ul.grid{clear:both;box-sizing: content-box;margin:auto -40px;}
ul.grid:after{visibility:hidden;display:block;content:" ";height:0;font-size:0;clear:both;}
ul.grid > li{float:left;padding:0px 40px;}
ul.grid.grid-2 > li{width:50%;}
ul.grid.grid-3 > li{width:33.3333%;}
ul.grid.grid-4 > li{width:25%;}
ul.grid.grid-5 > li{width:20%;}
ul.grid.separator > li{border-left:1px solid darken($color-white, 10%);}
ul.grid.separator > li:first-child{border-left:0px;}

/* Lists Definitions */
ul.list{ list-style: none; }
ul.list li{padding:10px 0px;width:100%;}
ul.list.separator li{padding:10px 0px;width:100%;border-bottom:1px solid darken($bg-white, 10%);}
ul.list.separator li:first-child, ul.list li:first-child{padding-top:0px;}
ul.list.separator li:last-child{border-bottom:0px;}
ul.list.addon-right li .addon{width:20%;float:right;margin-left:5%;padding:13px 0px;}
ul.list.addon-right li .content{width:75%;float:left;border-bottom:1px solid darken($bg-white, 10%);padding:10px 0px;}
ul.list.addon-right li:first-child .content{padding-top:0px;}
ul.list.addon-left li .addon{width:20%;float:left;margin-right:5%;padding:13px 0px;}
ul.list.addon-left li .content{width:75%;float:left;border-bottom:1px solid darken($bg-white, 10%);padding:10px 0px;}
ul.list.addon-left li:first-child .content{padding-top:0px;}
ul.list.addon-right li, ul.list.addon-left li{clear:both;box-sizing: content-box;border:0px;padding:0px;}
ul.list.addon-right li:after, ul.list.addon-left li:after{visibility:hidden;display:block;content:" ";height:0;font-size:0;clear:both;}
.list-heading{line-height:1.8 !important;margin-top:-5px;}
.list-heading span{line-height:1.2 !important;padding-left:0px !important;}

.header-board{position:relative;z-index:1;border-bottom:1px solid $bg-grey;box-shadow:0px 1px 2px rgba(0,0,0,0.2);}
.header-board.large{padding:32px 48px 20px 48px;}
.header-board.small{padding:10px 0px;}
.container{max-width:$main-width;margin:0px auto;}
.container.box{padding:40px 0px;}

/* H Headings Definitions */
h1,.h1{font-size:34px;font-weight:300;}
h2,.h2{font-size:28px;font-weight:200;}
h3,.h3{font-size:22px;font-weight:100;}
h4,.h4{font-size:18px;}
h5,.h5{font-size:16px;}
h6,.h6{font-size:12px;}
h1.heading, .h1.heading, h2.heading, .h2.heading,
h3.heading, .h3.heading, h4.heading, .h4.heading,
h5.heading, .h5.heading, h6.heading, .h6.heading{line-height:1.1;}
h1.heading span, .h1.heading span, h2.heading span, .h2.heading span,
h3.heading span, .h3.heading span, h4.heading span, .h4.heading span,
h5.heading span, .h5.heading span, h5.heading span, .h5.heading span {@include setfont($normal-font, "normal", "Circular");font-weight:400;display:block;color:inherit;font-size:$normal-font;opacity:0.7;padding-left:1px;}

/* Links Definitino */
a,.a{padding:4px 8px;text-decoration:none;@include setfont($normal-font, "normal", "Circular Light");font-weight:bold;color:inherit;}
a.underline:hover, .a.underline:hover{text-decoration:underline;}
a.red,.a.red{@include darken_color_hover($bg-red);}
a.orange,.a.orange{@include darken_color_hover($bg-orange);}
a.dark,.a.dark{@include darken_color_hover($bg-dark);}
a.white,.a.white{@include darken_color_hover($bg-white);}
a.grey,.a.grey{@include darken_color_hover($bg-grey);}
a.blue,.a.blue{@include darken_color_hover($bg-blue);}
a.small,.a.small{font-size:$small-font;padding:2px 6px;}


/* Button Definition */
button,.button{border-radius:4px;padding:10px 14px;@include setfont($normal-font, "normal", "Circular Light");font-weight:bold;color:$color-white !important;cursor:pointer;margin-right:10px;}
button.small, .button.small{padding:5px 8px;font-size:$small-font;margin-right:5px;}
button.large, .button.large{padding:15px 22px;}
button.red, .button.red{@include darken_hover_active($bg-red);}
button.blue, .button.blue{@include darken_hover_active($bg-blue);}
button.orange, .button.orange{@include darken_hover_active($bg-orange);}
button.dark, .button.dark{@include darken_hover_active($bg-dark);}
button.white, .button.white{@include darken_hover_active($bg-white);color:lighten($color-grey, 10%) !important;}
button.rounded, .button.rounded{ border-radius: 25px;} 

/* Form Input Definition */
input{max-width:94%;min-width:80px;background-color:$bg-white;color:$color-grey;font-size:14px;padding:8px 14px;margin:4px 6px;}
input.small {font-size:12px;padding:4px 8px;}
input.large{font-size:18px;padding:10px 16px;}
input.wide{width:100%;}
input.rounded{border-radius:15px;}
input.bordered{border:1px solid $color-grey;}
input.plain{border-radius:0px;border-color:transparent;}
.input-wrapper{max-width:100%;min-width:80px;display:inline-block;margin:10px;}
.input-wrapper span{display:block;color:darken($color-white, 15%);text-align:left;line-height:1.0;text-overflow:ellipsis;}
.input-wrapper input{margin:0px;outline:0px;color:$color-white;border:0px;border-radius:0px;background-color:transparent;border-bottom:1px solid lighten($color-grey, 40%);padding-left:0px;}
.input-wrapper.small span{font-size:12px;}
.input-wrapper.small input{font-size:12px;padding:4px 8px;padding-left:0px;}
.input-wrapper.large input{font-size:18px;padding:10px 16px;padding-left:0px;}
.input-wrapper.grey span {color:lighten($color-grey, 20%);}
.input-wrapper.grey input{color:$color-grey;border-color:lighten($color-grey, 40%);}

.ic-small{font-size:14px;}
.ic-large{font-size:20px;}
.ic-x-large{font-size:32px;}
.ic-xx-large{font-size:48px;}
.ic-xxx-large{font-size:96px;}
.ic-x-small{font-size:10px;}
.ic-button{padding:15px; border-radius: 5px;cursor:pointer;}
.ic-button.rounded{ border-radius: 50%;}

/* Globals */
.truncate{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.row{clear:both;box-sizing: content-box;}
.row:after{visibility:hidden;display:block;content:" ";height:0;font-size:0;clear:both;}
.hide{display:none;}
.show{display:inline-block;}
.bg-red{@include bg_darken($bg-red);}
.bg-blue{@include bg_darken($bg-blue);}
.bg-orange{@include bg_darken($bg-orange);}
.bg-dark{@include bg_darken($bg-dark);}
.bg-white{@include bg_darken($bg-white);}
.bg-grey{@include bg_darken($bg-grey);}

