/* Globals */
$nil-size : 0px;

/* Dimensions (Paddings) */
$large-padding:40px;
$x-large-padding:50px;
$normal-padding:20px;
$small-padding:10px;
$micro-padding:5px;

/* Dimensions (Font Size) */
$micro-font:8px;
$small-font:12px;
$normal-font:14px;
$large-font:18px;
$x-large-font:24px;
$big-font:36px;
$x-big-font:48px;
$xx-big-font:64px;
$xxx-big-font:80px;

/* Dimensions (Margin) */
$micro-margin:2px;
$small-margin:5px;
$normal-margin:10px;
$large-margin:15px;
$x-large-margin:20px;
$xx-large-margin:40px;

/* Colors (Background) */
$bg-white:#ffffff;
$bg-black:#000000;
$bg-light-grey:#f1f1f1;
$bg-red:#ef4056;
$bg-dark-red:#AC081B;
$bg-blue-green:#2a9e8b;
$bg-light-green:#58D238;
$bg-dark-green:#259707;
$bg-blue:#2F7E9C;
$bg-dark-blue:#0A5471;
$bg-cloud:#ecf0f1;
$bg-silver:#bdc3c7;
$bg-dark:#2c3e50;
$bg-grey:#95a5a6;
$bg-yellow:#f1c40f;
$bg-orange:#f39c12;
$bg-purple:#8e44ad;

/* Colors (Foreground) */
$color-white:#ffffff;
$color-black: #000000;
$color-red:#ef4056;
$color-grey:#555555;

/* Layout */
$main-width: 1000px;

/* Custom */
$app-blue: #1892F4;
$app-green: #1fc473;
$app-light-blue: #9db7cc;
$app-light-green: #edf8fa;
